<div class="popup-overview">
  <sl-popup
    placement={{this.placement}}
    active={{this.isActive}}
    distance={{this.distance}}
    skidding={{this.skidding}}
    arrow={{this.hasArrow}}
  >
    <span slot="anchor"></span>
    <div class="box"></div>
  </sl-popup>

  <div class="popup-overview-options">
    <sl-select
      label="Placement"
      name="placement"
      value={{this.placement}}
      class="popup-overview-select"
      {{on "sl-change" this.updatePlacement}}
    >
      <sl-option value="top">top</sl-option>
      <sl-option value="top-start">top-start</sl-option>
      <sl-option value="top-end">top-end</sl-option>
      <sl-option value="bottom">bottom</sl-option>
      <sl-option value="bottom-start">bottom-start</sl-option>
      <sl-option value="bottom-end">bottom-end</sl-option>
      <sl-option value="right">right</sl-option>
      <sl-option value="right-start">right-start</sl-option>
      <sl-option value="right-end">right-end</sl-option>
      <sl-option value="left">left</sl-option>
      <sl-option value="left-start">left-start</sl-option>
      <sl-option value="left-end">left-end</sl-option>
    </sl-select>

    <sl-input
      type="number"
      name="distance"
      label="Distance"
      value={{this.distance}}
      {{on "sl-input" this.updateDistance}}
    ></sl-input>

    <sl-input
      type="number"
      name="skidding"
      label="Skidding"
      value={{this.skidding}}
      {{on "sl-input" this.updateSkidding}}
    ></sl-input>
  </div>

  <div class="popup-overview-options">
    <sl-switch
      name="active"
      checked={{this.isActive}}
      {{on "sl-change" this.toggleActive}}
    >
      Active
    </sl-switch>

    <sl-switch
      name="arrow"
      checked={{this.hasArrow}}
      {{on "sl-change" this.toggleArrow}}
    >
      Arrow
    </sl-switch>
  </div>
</div>